<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>org.redhatchallenge.rhc2013.administration UserService</servlet-name>
        <servlet-class>org.redhatchallenge.rhc2013.server.UserServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.redhatchallenge.rhc2013.administration DownloadCsv</servlet-name>
        <servlet-class>org.redhatchallenge.rhc2013.server.DownloadCsv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.redhatchallenge.rhc2013.administration UserService</servlet-name>
        <url-pattern>/administration/UserService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.redhatchallenge.rhc2013.administration DownloadCsv</servlet-name>
        <url-pattern>/administration/download</url-pattern>
    </servlet-mapping>

    <!-- Servlets -->
  
  <!--&lt;!&ndash; Default page to serve &ndash;&gt;-->
  <!--<welcome-file-list>-->
    <!--<welcome-file>administration.html</welcome-file>-->
  <!--</welcome-file-list>-->

    <!--<security-constraint>-->
        <!--<web-resource-collection>-->
            <!--<web-resource-name>Administration</web-resource-name>-->
            <!--<url-pattern>/*</url-pattern>-->
        <!--</web-resource-collection>-->
        <!--<auth-constraint>-->
            <!--<role-name>-->
                <!--Admin-->
            <!--</role-name>-->
        <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <!--<security-role>-->
        <!--<role-name>Admin</role-name>-->
    <!--</security-role>-->

    <!--<login-config>-->
        <!--<auth-method>BASIC</auth-method>-->
        <!--<realm-name>Administration</realm-name>-->
    <!--</login-config>-->
</web-app>
