<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
    <servlet>
        <servlet-name>org.redhatchallenge.rhc2013.administration UserService</servlet-name>
        <servlet-class>org.redhatchallenge.rhc2013.server.UserServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.redhatchallenge.rhc2013.administration DownloadCsv</servlet-name>
        <servlet-class>org.redhatchallenge.rhc2013.server.DownloadCsv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>org.redhatchallenge.rhc2013.administration UserService</servlet-name>
        <url-pattern>/administration/UserService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.redhatchallenge.rhc2013.administration DownloadCsv</servlet-name>
        <url-pattern>/administration/download</url-pattern>
    </servlet-mapping>

    <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>administration.html</welcome-file>
  </welcome-file-list>

</web-app>
